---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bien être et beauté" page="home">
  <main>
    <div
      class="min-h-screen bg-cover bg-bottom"
      style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)), url('/assets/etang_thau.png')"
    >
      <div class="min-h-screen flex justify-center items-center text-center">
        <div class="max-w-4xl pb-24">
          <h1 class="mb-5 text-5xl font-bold text-gray-200">
            Bienvenue chez Bien Etre et Beauté
          </h1>
          <p class="mb-5 text-xl text-gray-200">
            Au cœur d’un petit village au bord de l'étang de thau, dans les
            remparts de Loupian, Florence vous ouvre ses portes et vous dévoile
            son havre de paix. Un espace cocooning qui vous propose de vivre une
            expérience poly sensorielle.
          </p>
        </div>
      </div>
    </div>
    <!-- Présentation de captain John -->
    <section class="text-gray-600 body-font">
      <div class="h-4/5 container px-5 pt-12 pb-24 mx-auto">
        <div class="flex justify-center pb-12">
          <h1 class="text-3xl text-center font-mono">Bien etre et beauté</h1>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <div class="">
            <div class="flex justify-around">
              <img
                src="/assets/home.png"
                alt=""
                class="rounded-md h-60 lg:h-96"
              />
            </div>
            <p class="text-center mx-12 mt-6">Bien etre et beauté</p>
          </div>
          <div>
            <p class="text-base lg:text-xl mt-4 mb-4">salut</p>
            <p class="text-sm lg:text-lg mt-4 mb-4">
              lalala ? <br />
              Lala alalalalal
            </p>
            <br />
          </div>
        </div>
      </div>
    </section>
    <section class="text-gray-600 body-font">
      <div class="h-4/5 container px-5 pt-12 pb-24 mx-auto">
        <div class="flex justify-center pb-12">
          <h1 class="text-3xl text-center font-mono">Bien etre et beauté</h1>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <div class="">
            <div class="flex justify-around">
              <!-- <img
                src="{{ URL::asset('media/home.png') }}"
                alt=""
                class="rounded-md h-60 lg:h-96"
              /> -->
            </div>
            <p class="text-center mx-12 mt-6">Bien etre et beauté</p>
          </div>
          <div>
            <p class="text-base lg:text-xl mt-4 mb-4">salut</p>
            <p class="text-sm lg:text-lg mt-4 mb-4">
              lalala ? <br />
              LPG innovation technologique pour la beauté. « Nos technologies brevetées
              sont le fruit des recherches permanentes menées par nos ingénieurs.
              » Cette technologie made in France stimule délicatement la peau pour
              réactiver l’activité cellulaire endormie. Fight for natural beauty.
            </p>
            <br />
          </div>
        </div>
      </div>
    </section>
    <section class="text-gray-600 body-font">
      <div class="h-4/5 container px-5 pt-12 pb-24 mx-auto">
        <div class="flex justify-center pb-12">
          <h1 class="text-3xl text-center font-mono">Bien etre et beauté</h1>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <div class="">
            <div class="flex justify-around">
              <!-- <img
                src="{{ URL::asset('media/home.png') }}"
                alt=""
                class="rounded-md h-60 lg:h-96"
              /> -->
            </div>
            <p class="text-center mx-12 mt-6">Bien etre et beauté</p>
          </div>
          <div>
            <p class="text-base lg:text-xl mt-4 mb-4">salut</p>
            <p class="text-sm lg:text-lg mt-4 mb-4">
              lalala ? <br />
              Chez PHYTOMER, nous croyons en la mer, en la puissance infinie des
              ses ingrédients. Nous croyons que sa générosité doit être respectée.
              Nous croyons au droit d’être belle, à l’importance de prendre soin
              de sa peau. Nous croyons au sérieux de la cosmétique. Nous croyons
              que l’efficacité doit s’accompagner de sécurité. Que l’exigence de
              qualité est un devoir. Que le plaisir n’existe que s’il y a du respect
              et de la confiance. Et parce que nous croyons, nous créons. Pour votre
              peau, et pour des milliers de professionnels du soin.
            </p>
            <br />
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
