---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bien être et beauté" page="home">
  <main>
    <div
      class="min-h-screen bg-cover bg-bottom"
      style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)), url('/assets/etang_thau.png')"
    >
      <div class="min-h-screen flex justify-center items-center text-center">
        <div class="max-w-4xl pb-24">
          <h1 class="mb-5 text-5xl font-bold text-gray-200">
            Le concept innovant ~ Florence Mascle
          </h1>
          <p class="mb-5 text-xl text-gray-200">
            Découvrez comment, dans un petit village du bassin de thau, Florence
            Mascle a mis au point un concept particulièrement innovant : « La
            beauté Holistique »
          </p>
        </div>
      </div>
    </div>
    <!-- Présentation de captain John -->
    <section class="text-gray-600 body-font">
      <div class="h-4/5 container px-5 pt-12 pb-24 mx-auto">
        <div class="flex justify-center pb-12">
          <h1 class="text-3xl text-center">Bien etre et beauté</h1>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <div class="">
            <div class="flex justify-around">
              <img
                src="/assets/home.png"
                alt=""
                class="rounded-md h-60 lg:h-96"
              />
            </div>
            <p class="text-center mx-12 mt-6">Institut Bien être et beauté</p>
          </div>
          <div>
            <p class="text-sm lg:text-lg mt-4 mb-4">
              Au cœur d’un petit village au bord de l'étang de thau, dans les
              remparts de Loupian, Florence vous ouvre ses portes et vous
              dévoile son havre de paix. Un espace cocooning qui vous propose de
              vivre une expérience poly sensorielle.
            </p>
            <p class="text-sm lg:text-lg mt-4 mb-4">
              Prochee de montpellier, non loin de sète, l'institut est situé à
              Loupian. Un petit village entre bouzigue et Mèze.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
