---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bien être et beauté" page="home">
  <main>
    <div
      class="min-h-screen bg-cover bg-bottom"
      style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)), url('/assets/etang_thau.png')"
    >
      <div class="min-h-screen flex justify-center items-center text-center">
        <div class="max-w-4xl pb-24 px-4 md:px-0">
          <h1 class="mb-5 text-4xl md:text-5xl font-bold text-gray-200">
            Le concept innovant ~ Florence Mascle
          </h1>
          <p class="mb-5 text-lg md:text-xl text-gray-200">
            Découvrez comment, dans un petit village du bassin de thau, Florence
            Mascle a mis au point un concept particulièrement innovant : <br /> «
            La beauté Holistique »
          </p>
        </div>
      </div>
    </div>
    <div
      class="relative w-full flex justify-center items-center text-center min-h-screen overflow-hidden"
    >
      <div
        class="absolute top-0 left-2/3 md:left-3/4 w-full h-full flex justify-center items-center"
      >
        <div
          class="w-full h-2/3 bg-contain opacity-25 bg-no-repeat"
          style="background-image: url('/assets/fleur.png')"
        >
        </div>
      </div>
      <div class="absolute max-w-xl pb-24 px-4 md:px-0">
        <p class="mb-5 text-lg md:text-xl">
          Au cœur d’un petit village au bord de l'étang de thau, dans les
          remparts de Loupian, Florence vous ouvre ses portes et vous dévoile
          son havre de paix. Un espace cocooning qui vous propose de vivre une
          expérience poly sensorielle.
        </p>
        <p class="mb-5 text-xl">
          Prochee de montpellier, non loin de sète, l'institut est situé à
          Loupian. Un petit village entre bouzigue et Mèze.
        </p>
      </div>
    </div>
  </main>
</Layout>
