---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tarifs institut" page="tarifs">
  <main>
    <div class="max-w-4xl">
      <h1 class="text-4xl text-center my-4 py-4">Les Tarifs 2023</h1>
      <!-- <h2 class="text-xl mt-3">Concept d’avant-garde, dédié aux professionnels des instituts</h2>
        <h3 class="text-lg underline decoration-solid underline-offset-4">LPG La beaute naturelle !</h3>
        <h4>« A quoi cela me servirait de gommer mes rides, si cela m’empêche de me reconnaitre ? »
          Monica Bellucci</h4> -->

      <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <!-- LPG Endermologie -->
        <div class="mx-4 px-4 w-64">
          <h2 class="text-xl mt-3">LPG Endermologie</h2>
          <h3 class="text-lg underline decoration-solid underline-offset-4">
            Soins Classiques
          </h3>
          <ul class="my-4">
            <li>
              <div class="flex justify-between mt-1">
                <p>Eclat, Regards & lèvres (20 min)</p>
                <p class="shrink-0 ml-3">35 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Detox (25 min)</p>
                <p class="shrink-0 ml-3">45 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Anti-âge, repulpant, fermeté, affinant (30 min)</p>
                <p class="shrink-0 ml-3">65 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Rénovateur anti-âge (30 min)</p>
                <p class="shrink-0 ml-3">65 €</p>
              </div>
            </li>
          </ul>
          <h3 class="text-lg underline decoration-solid underline-offset-4">
            Soins Zones
          </h3>
          <ul class="my-4">
            <li>
              <div class="flex justify-between mt-1">
                <p>Front, regard antirides poche & cernes, bouche ovale, cou</p>
                <p class="shrink-0 ml-3">25 €</p>
              </div>
            </li>
          </ul>
          <h3 class="text-lg underline decoration-solid underline-offset-4">
            Forfaits 12 séances
          </h3>
          <ul class="my-4">
            <li>
              <div class="flex justify-between mt-1">
                <p>Forfaits personnalisés selon soins Kit endermolift offert</p>
                <p></p>
              </div>
            </li>
          </ul>
        </div>
        <!-- Beauté du Visage -->
        <div class="mx-4 px-4 w-64">
          <h2 class="text-xl mt-3">Beauté du visage</h2>
          <h3 class="text-lg underline decoration-solid underline-offset-4">
            L’excellence du soin de cabine
          </h3>
          <ul class="my-4">
            <li>
              <div class="flex justify-between mt-1">
                <p>Soin Pionner</p>
                <p class="shrink-0 ml-3">96 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Intention jeunesse</p>
                <p class="shrink-0 ml-3">96 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Oligoforce Lumière</p>
                <p class="shrink-0 ml-3">96 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Citadine</p>
                <p class="shrink-0 ml-3">96 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Soin jeunesse</p>
                <p class="shrink-0 ml-3">96 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Hydra blue</p>
                <p class="shrink-0 ml-3">96 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Peau nette express</p>
                <p class="shrink-0 ml-3">45 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Massage visage Ko-Bi-Do</p>
                <p class="shrink-0 ml-3">65 €</p>
              </div>
              <p class="text-sm italic">
                (Le massage japonais du visage est une pratique très ancienne,
                il se base sur les points d’acuponc-ture et méridiens du visage)
              </p>
            </li>
          </ul>
        </div>
        <!-- Soins signature -->
        <div class="mx-4 px-4 w-64">
          <h2 class="text-xl mt-3">Soins signature</h2>
          <h3 class="text-lg underline decoration-solid underline-offset-4">
            Soins
          </h3>
          <ul class="my-4">
            <li>
              <div class="flex justify-between mt-1">
                <p>Massage shiatsu</p>
                <p class="shrink-0 ml-3">75 €</p>
              </div>
              <p class="text-sm italic">(Le shiatsu harmonies des énergies)</p>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Massage corps relaxant</p>
                <p class="shrink-0 ml-3">90 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Massage dos</p>
                <p class="shrink-0 ml-3">50 €</p>
              </div>
            </li>
          </ul>
          <h3 class="text-lg underline decoration-solid underline-offset-4">
            LPG Corps
          </h3>
          <ul class="my-4">
            <li>
              <div class="flex justify-between mt-1">
                <p>1 séance</p>
                <p class="shrink-0 ml-3">45 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>12 séances</p>
                <p class="shrink-0 ml-3">480 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>20 séances</p>
                <p class="shrink-0 ml-3">760 €</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- Epilation -->
        <div class="mx-4 px-4 w-64">
          <h2 class="text-xl mt-3">Epilation</h2>
          <h3 class="text-lg underline decoration-solid underline-offset-4">
            Simple
          </h3>
          <ul class="my-4">
            <li>
              <div class="flex justify-between mt-1">
                <p>Jambes</p>
                <p class="shrink-0 ml-3">27 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>1/2 jambes</p>
                <p class="shrink-0 ml-3">20 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Maillot</p>
                <p class="shrink-0 ml-3">18 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Maillot intégral</p>
                <p class="shrink-0 ml-3">27 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Aisselles</p>
                <p class="shrink-0 ml-3">13 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Bras</p>
                <p class="shrink-0 ml-3">20 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Dos</p>
                <p class="shrink-0 ml-3">24 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Visage</p>
                <p class="shrink-0 ml-3">17 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Sourcils</p>
                <p class="shrink-0 ml-3">14 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Lèvre supérieur</p>
                <p class="shrink-0 ml-3">8 €</p>
              </div>
            </li>
          </ul>
          <h3 class="text-lg underline decoration-solid underline-offset-4">
            Forfait épilation
          </h3>
          <ul class="my-4">
            <li>
              <div class="flex justify-between mt-1">
                <p>1/2 jambes, maillot & aisselles</p>
                <p class="shrink-0 ml-3">40 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>(Maillot intégral)</p>
                <p class="shrink-0 ml-3">49 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Jambes, maillot & aisselles</p>
                <p class="shrink-0 ml-3">48 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>(Maillot intégral)</p>
                <p class="shrink-0 ml-3">56 €</p>
              </div>
            </li>
            <li>
              <div class="flex justify-between mt-1">
                <p>Lèvres + sourcils</p>
                <p class="shrink-0 ml-3">20 €</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
